@media screen and (prefers-color-scheme: dark) {

  /**     Title    **/
  .icon-min,
  .icon-lg>img {
    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
  }

  .logo {
    background-color: #1B1F23 !important;
  }

  .main-header {
    border-bottom: 1px solid #3e4248;
  }

  .sidebar-toggle:hover {
    background-color: unset !important;
    color: #367fa9 !important;
  }

  /**     Sidebar    **/
  .main-sidebar {
    background-color: #282c34 !important;
  }

  .header {
    background-color: #1B1F23 !important;
    color: white !important;
  }

  .form-control {
    color: white !important;
  }


  .navbar,
  .dropdown-menu {
    background-color: #282c34 !important;
  }

  .dropdown-menu {
    border-color: #282c34 !important;
  }

  .dropdown-menu>li:not(:nth-child(-1)),
  .dropdown-menu>li:not(:nth-child(-1)) * {
    border-bottom-color: #1B1F23 !important;
    color: white !important;
  }

  .dropdown-menu li a:hover {
    background-color: unset !important;
    color: #367fa9 !important;
  }

  .dropdown-menu li a:hover * {
    color: #367fa9 !important;
  }


  .nav>li>a>i,
  .nav>li>a>span {
    color: white !important;
  }

  .dropdown-menu>li>ul.nav-tabs {
    border-color: white !important;
  }

  .dropdown-menu>li>ul.nav-tabs li {
    border-color: white !important;
  }

  .dropdown-menu>li>ul.nav-tabs li.active * {
    color: #555 !important;

  }

  .dropdown-menu>li>ul.nav-tabs li.active * {
    color: #555 !important;
  }

  /**     Main Wrapper    **/
  .content-wrapper {
    background-color: #363943 !important;

  }

  .content-wrapper *:not(.prettyprint *) {
    color: white;
  }

  .content-wrapper a {
    color: #3C8DBC;
  }

  /**     Section Navigation    **/
  .nav-tabs li:not(.active) a {
    color: white;
  }

  .nav-tabs li:not(.active) a:hover {
    background-color: #4d515a;
  }

  .nav-pills li.active .badge {
    color: #1B1F23 !important;
  }

  /**       PANELS      **/
  .panel {
    background-color: unset !important;
    border-color: #3e4248;
    border-radius: 4px !important;
  }

  .panel-heading,
  .box-header {
    background-color: #282c34 !important;
    color: white !important;
    border-color: #3C8DBC !important;
  }

  .box-header {
    border-right: unset !important;
    border-left: unset !important;
    border-top: unset !important;
  }

  .panel-body,
  .box-content-bottom {
    background-color: #40434d !important;
  }

  .box-content-bottom {
    border-color: #3e4248 !important;
  }

  input:not([type='submit']),
  textarea,
  select {
    border-radius: 4px !important;
    border-color: #3e4248 !important;
    background-color: #4d515a !important;
  }

  .clickable {
    background-color: #40434d !important;
    border-color: #3e4248 !important;
  }

  #avatar {
    background-color: unset !important;
    border: 1px solid #282c34 !important;
  }

  #member-list li {
    background-color: #40434d !important;
    border: 1px solid #282c34 !important;
  }

  #member-list li:not(:last-child) {
    margin-bottom: 0 !important;
  }

  /**     Buttons     **/
  .btn-danger,
  .btn-danger:hover {
    color: white !important;
  }

  .btn-default,
  .btn-default:hover {
    background-color: #00c0ef !important;
    border-color: rgb(89, 89, 89) !important;
  }

  .btn-default.active,
  .btn-default.active:hover {
    background-color: #ffa600 !important;
  }

  .close {
    color: white !important;
    opacity: 1 !important;
  }

  .close:hover {
    color: rgba(255, 255, 255, 0.658) !important;
    opacity: 0.6 !important;
  }

  .muted {
    color: #bbb !important;
  }

  .dropdown-toggle>.muted {
    color: #282c34 !important;
    font-weight: bold;
    font-variant: small-caps;
  }

  .strong:not(.header-title):not(.dropdown-toggle *) {
    color: #00c0ef !important;
  }

  strong {
    color: #00c0ef !important;
    background-color: unset !important;
  }

  code {
    background-color: #00c0ef !important;
    color: white !important;
  }

  /**     TABLE     **/
  table,
  th,
  tr,
  td,
  .pullreq-info {
    border-color: #3e4248 !important;
  }

  td {
    background-color: #4d515a !important;
  }

  th,
  .pullreq-info {
    background-color: #282c34 !important;
  }

  tr:hover * {
    color: unset !important;
  }

  td {
    border-top: 2pt solid #3e4248;
  }

  fieldset {
    border-top-color: #4d515a !important;
  }

  .block {
    border-bottom-color: #3e4248 !important
  }

}