@media screen and (prefers-color-scheme: dark) {

  /**     Title    **/
  .icon-min,
  .icon-lg>img {
    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
  }

  .logo {
    background-color: #1B1F23 !important;
  }

  .main-header {
    border-bottom: 1px solid #3e4248;
  }

  .sidebar-toggle:hover {
    background-color: unset !important;
    color: #367fa9 !important;
  }

  /**     Sidebar    **/
  .main-sidebar {
    background-color: #282c34 !important;
  }

  .header {
    background-color: #1B1F23 !important;
    color: white !important;
  }

  .form-control {
    background-color: #363943 !important;
    color: white !important;
  }


  .navbar,
  .dropdown-menu {
    background-color: #282c34 !important;
  }

  .dropdown-menu {
    border-color: #282c34 !important;
  }

  .dropdown-menu li:not(:nth-child(-1)) * {
    border-bottom-color: #1B1F23 !important;
    color: white !important;
  }

  .dropdown-menu li a:hover {
    background-color: unset !important;
    color: #367fa9 !important;
  }

  .dropdown-menu li a:hover * {
    color: #367fa9 !important;
  }


  .nav>li>a>i,
  .nav>li>a>span {
    color: white !important;
  }

  /**     Main Wrapper    **/
  .content-wrapper {
    background-color: #363943 !important;

  }

  .content-wrapper *:not(.prettyprint *) {
    color: white;
  }

  .content-wrapper a {
    color: #3C8DBC;
  }

  /**     Section Navigation    **/
  .nav-tabs li:not(.active) a {
    color: white;
  }

  .nav-tabs li:not(.active) a:hover {
    background-color: #4d515a;
  }

  .nav-pills li.active .badge {
    color: #1B1F23 !important;
  }

  /**       PANELS      **/
  .panel {
    background-color: unset !important;
    border-color: #3e4248;
    border-radius: 4px !important;
  }

  .panel-heading {
    background-color: #282c34 !important;
    color: white !important;
    border-color: #3C8DBC !important;
  }

  .panel-body {
    background-color: #4d515a !important;
  }

  .panel input:not([type='submit']),
  .panel textarea,
  .panel select {
    border-radius: 4px !important;
    border-color: #3e4248;
  }

  /**     Buttons     **/
  .btn-danger,
  .btn-danger:hover {
    color: white !important;
  }

  .btn-default,
  .btn-default:hover {
    background-color: #00c0ef !important;
    border-color: rgb(89, 89, 89) !important;
  }

  .btn-default.active,
  .btn-default.active:hover {
    background-color: #ffa600 !important;
  }

  .muted {
    color: #bbb !important;
  }

  /**     TABLE     **/
  table,
  th,
  tr,
  td {
    border-color: #3e4248 !important;
  }

  td {
    background-color: #4d515a !important;
  }

  th {
    background-color: #282c34 !important;
  }

  tr:hover * {
    color: #3C8DBC !important;
  }

  td {
    border-top: 2pt solid #3e4248;
  }

}